Django==2.0.4
twilio==6.7.1
Pillow==3.4.1
django-celery-beat==1.1.1
django-celery-results==1.0.1
djangorestframework==3.8.2
phonenumbers==8.9.1
django-controlcenter==0.2.6
amqp==2.3.2
billiard==3.5.0.3
celery==4.2.0
certifi==2018.4.16
chardet==3.0.4
cookies==2.2.1
Django==2.0.4
django-celery-beat==1.1.1
django-celery-results==1.0.1
django-controlcenter==0.2.6
django-pkgconf==0.3.0
djangorestframework==3.8.2
idna==2.7
kombu==4.2.1
mock==2.0.0
pbr==4.0.4
phonenumbers==8.9.1
Pillow==3.4.1
PyJWT==1.6.4
PySocks==1.6.8
pytz==2018.5
requests==2.19.1
responses==0.9.0
six==1.11.0
twilio==6.7.1
urllib3==1.23
vine==1.1.4
