Django==2.2.18
twilio==6.28.0
Pillow==8.1.2
django-celery-beat==1.1.1
django-celery-results==1.0.1
djangorestframework==3.11.2
phonenumbers==8.9.1
django-controlcenter==0.2.9
spacy==2.0.18
ephem==3.7.6
django-debug-toolbar==2.0.0
