{% spaceless %}
{% autoescape off %}
[Whitepages Identity Results]
===
{% if whitepages_entity_type %}{{ whitepages_entity_type }}: {% endif %}{% if whitepages_first_name %}{{ whitepages_first_name }} {% endif %}{% if whitepages_middle_name %}{{ whitepages_middle_name }} {% endif %}{% if whitepages_last_name %}{{ whitepages_last_name }}{% endif %}{% if whitepages_business_name %}{{ whitepages_business_name }}{% endif %}
{% if gender %}Gender: {{ gender }}{% endif %}
{% if carrier %}Carrier: {{ carrier }}{% endif %}
{% if phone_number_type %}Phone Type: {{ phone_number_type }}{% endif %}
{% if whitepages_prepaid %}Prepaid: {{ whitepages_prepaid }}{% endif %}
{% endautoescape %}
{% endspaceless %}
